.policy_container, .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    color: white;
}

.policy_container {
    padding: 5rem 5rem 0 5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}

.policy_container::-webkit-scrollbar {
    width: 0.5rem;
}

.policy_container::-webkit-scrollbar-track {
    background: transparent;
}

.policy_container::-webkit-scrollbar-thumb {
    background: var(--primary);
}

.policy_container, .container:before {
    content: "";
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;

    background-image: url('https://scontent.fdoh9-1.fna.fbcdn.net/v/t39.30808-6/308418045_481275514013736_2456842695685896721_n.jpg?stp=dst-jpg_p960x960&_nc_cat=105&ccb=1-7&_nc_sid=52f669&_nc_ohc=E-z4kwoSC3IAX-MzCRr&_nc_ht=scontent.fdoh9-1.fna&oh=00_AfAN2Cpw65V-f1wX0UI601bvurRBW7G3fGTmePGKDLhOQQ&oe=65095EC2');

    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* darken the image */
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.65);
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    flex: 1;
    width: 100%;
    height: 100%;
}

.textContent {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imageContent {
    z-index: 1;
    width: 20%;
    height: 80%;
}

.imageContent img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.title {
    font-size: var(--font-size-hero-title);
    font-weight: 700;
    margin-bottom: 1rem;
    text-shadow: 0 0 20px var(--primary);
}

.policy_title {
    font-size: var(--font-size-hero-title);
    font-weight: 700;
    align-self: center;
    margin-bottom: 1rem;
}

.policy_subtitle {
    font-size: var(--font-size-lg);
    font-weight: 700;
    margin-bottom: 1rem;
}

.policy_paragraph {
    font-size: var(--font-size-sm);
    font-weight: 100;
    margin-bottom: 1rem;
}



.subtitle {
    font-size: var(--font-size-md);
    font-weight: 400;
    margin-bottom: 1rem;
    text-shadow: 0 0 15px var(--primary);
}

.note {
    font-size: var(--font-size-xs);
    font-weight: 400;
    margin-bottom: 1rem;
    color: rgb(255, 229, 86);
}


@media screen and (max-width: 880px) {

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 0 1rem;
    }

    .textContent {
        margin-bottom: 5rem;
    }

    .imageContent {
        margin-top: 5rem;
        width: 70%;
        height: 50%;
    }

    .policy_container {
        padding: 5rem 1rem 0 1rem;
    }

}

